.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;

  .container-menu {
    width: 240px;
    padding: 10px;

    .menu-item {
      width: 180px !important;
    }
  }

  .container-table {
    width: 100%;
    padding: 10px;
    table {
      width: 100%;
    }

    .planet-row {
      cursor: pointer;
      &:hover {
        background: rgb(248, 246, 246);
      }
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
}

::ng-deep {
  .menu-item {
    width: 180px !important;
  }

  .loader-container {
    width: 180px;
    display: flex;
    justify-content: center ;
    svg {
      width: 50px !important;
    }
   
  }
}
