<div class="container">
  <div class="container-menu">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Please select planet
    </button>


    <mat-menu #menu="matMenu">
      <div class="loader-container" *ngIf="isPlanetLoading">
        <ng-container [ngTemplateOutlet]="loader"></ng-container>
      </div>
      <button mat-menu-item *ngFor="let planet of platentsList" class="menu-item" (click)="selectPlanet(planet)">
        <span>{{planet.name}}</span>
      </button>
    </mat-menu>
  </div>

  <div class="container-table">

    <table mat-table [dataSource]="selectedPlanet" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let selectedPlanet">{{ selectedPlanet.name }}</td>
      </ng-container>

      <ng-container matColumnDef="diameter">
        <th mat-header-cell *matHeaderCellDef>Diameter</th>
        <td mat-cell *matCellDef="let selectedPlanet">{{ selectedPlanet.diameter }}</td>
      </ng-container>

      <ng-container matColumnDef="climate">
        <th mat-header-cell *matHeaderCellDef>Climate</th>
        <td mat-cell *matCellDef="let selectedPlanet">{{ selectedPlanet.climate }}</td>
      </ng-container>

      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef>Population</th>
        <td mat-cell *matCellDef="let selectedPlanet">{{ selectedPlanet.population }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openPalentDetail(row)" class="planet-row">
      </tr>
    </table>
  </div>
</div>

<ng-template #loader>
  <svg version="1.1" id="L1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <circle fill="none" stroke="#3f51b5" stroke-width="6" stroke-miterlimit="15" stroke-dasharray="14.2472,14.2472"
      cx="50" cy="50" r="47">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="5s" from="0 50 50"
        to="360 50 50" repeatCount="indefinite" />
    </circle>
  </svg>
</ng-template>