<div class="dialog-container">
  <div class="dialog-loader" *ngIf="isPlanetLoading && data.residents.length">
    <ng-container [ngTemplateOutlet]="loader"></ng-container>
  </div>

  <div *ngIf="!data.residents.length">
    NOT FOUNDED
  </div>

  <ng-container *ngIf="!isPlanetLoading">
    <table
      mat-table
      #table
      [dataSource]="residensList"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef>height</th>
        <td mat-cell *matCellDef="let element">{{ element.height }}</td>
      </ng-container>

      <ng-container matColumnDef="birth_year">
        <th mat-header-cell *matHeaderCellDef>birthday</th>
        <td mat-cell *matCellDef="let element">{{ element.birth_year }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
</div>


<ng-template  #loader>
    <svg version="1.1" id="L1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
      <circle fill="none" stroke="#3f51b5" stroke-width="6" stroke-miterlimit="15" stroke-dasharray="14.2472,14.2472" cx="50" cy="50" r="47" >
        <animateTransform 
           attributeName="transform" 
           attributeType="XML" 
           type="rotate"
           dur="5s" 
           from="0 50 50"
           to="360 50 50" 
           repeatCount="indefinite" />
    </circle>
  </svg>
  </ng-template>
