app-planet-population {
  display: block;
  background: #ffffff;
  border-radius: 16px;
  width: 800px;
  height: 500px;
  position: relative;

  .dialog-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    svg {
      width: 50px;
    }
  }
}
